/* GLOBAL */
:root {
  --black: #1b1b1b;
  --off-white: #f3f3f3;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Akshar', sans-serif;
  letter-spacing: 2px;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* NAVBAR */
.nav {
  background: var(--black);
  color: var(--off-white);
  height: 90px;
  margin: 0 auto;
  padding-left: 2rem;
  font-size: 18px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.img {
  width: 213px;
  height: 28px;
}

.contact-btn {
  padding-right: 1rem;
  display: inline-block;
  background: var(--black);
  border: 1px solid var(--off-white);
  border-radius: 5px;
  color: var(--off-white);
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
  font-size: 18px;
}

.contact-btn:hover {
  cursor: pointer;
  background: var(--off-white);
  color: var(--black);
}

.catalogue {
  color: var(--off-white);
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.overlay {
  background: rgba(19, 19, 19, 0.596);
  position: absolute;
  top: 0;
  right: 0;
  left: 200%;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  padding-top: 15rem;
  /* transition: left 250ms ease-in-out; */
}

.mobile-link {
  display: inline-block;
  margin: 0 auto 1rem;
  text-align: center;
  color: var(--off-white);
  font-size: 32px;
}

.mobile-link:hover {
  text-decoration: underline;
}

.nav-menu-wrap {
  border: 1px solid var(--off-white);
  background: var(--black);
  border-radius: 5px;
  position: relative;
  min-height: 200px;
  padding-top: 5rem;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.close-mobile-menu-btn {
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
}

/* HERO */
.hero {
  position: relative;
  min-height: calc(100vh - 95px);
  background-image: url('./photos/cti_blog_hero_original_2000_optimized.jpg');
  background: url('./photos/cti_blog_hero_original_2000_optimized.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 75%;
  margin-bottom: 5rem;
}

.hero-wrap {
  max-width: 90%;
  margin: 0 auto;
  min-height: 80vh;
  padding-top: 10rem;
  padding-left: 5%;
}

.hero-text {
  width: 80%;
  line-height: 1.2;
  color: var(--off-white);
  /* font-size: 78px; */
}

.tag {
  font-size: 78px;
}

.sub-tag {
  font-size: 29px;
  margin-left: 15rem;
}

.header {
  font-size: 40px;
}

.message {
  font-size: 20px;
}

.home-main {
  max-width: 80%;
  margin: 0 auto 5rem;
}

.catalouge-link {
  color: black;
  text-decoration: underline;
}

/* MAINTENANCE */
.maintenance-img {
  display: block;
  margin: 0 auto;
}

.main-header {
  font-size: 24px;
  text-align: center;
  margin: 0 auto 5rem;
  max-width: 750px;
}

.contact-us-header {
  position: relative;
  display: flex;
  width: 190px;
  margin: 0 auto 0.5rem;
  margin-bottom: 0.5rem;
}

.contact-us-title {
  font-size: 32px;
  text-decoration: underline;
}

.phone-icon {
  position: absolute;
  right: 5px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.contact-info {
  margin: 0 auto 0.5rem;
  max-width: 95%;
}

.contact-us-wrap {
  /* border: 1px solid black; */
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 1800px) {
  .hero {
    background-position-y: 50%;
  }
}

@media (max-width: 1200px) {
  .hero {
    background-position-y: 50%;
    background-position-x: 100%;
  }
}

@media (max-width: 1000px) {
  .hero {
    box-shadow: inset 0 0 0 2000px rgba(4, 4, 4, 0.434);
  }
}

@media (max-width: 900px) {
  .hero {
    background-position-y: 50%;
    background-position-x: 75%;
  }
}

@media (max-width: 600px) {
  .tag {
    font-size: 55px;
  }

  .sub-tag {
    font-size: 15px;
    margin-left: 10rem;
  }

  .nav {
    padding-right: 0.5rem;
    padding: 0;
  }

  .img {
    width: 150px;
    height: 19px;
  }

  .hamburger-menu {
    display: block;
  }

  .info {
    display: none;
  }

  .hero {
    background-position-x: 60%;
  }
}
